<nav class="site-navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-logo">
            <img src="{{ '/assets/BCID_H_gry_rev.png' | relative_url }}" alt="Logo">
        </a>
        <span class="navbar-title">Eric Millan Projects</span>
    </div>

    <div class="navbar-links">
        <a href="https://emillan-gov.github.io/emillan-gov/#">Home</a>
        <a href="/projects/">Projects</a>
        <a href="/about/">About</a>
        <a href="https://github.com/emillan-gov/emillan-gov" target="_blank" class="external-link">GitHub Repo</a>
    </div>
</nav>

