<nav class="site-navbar">
    <div class="navbar-left">
        <a href="https://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/water-land-and-resource-stewardship" class="navbar-logo">
            <img src="{{ '/assets/BCID_H_gry_rev.png' | relative_url }}" alt="Logo">
        </a>
        <span class="navbar-title">Eric Millan Projects</span>
    </div>

    <div class="navbar-links">
        <a href="https://emillan-gov.github.io/emillan-gov/#">Home</a>
        <a href="{{ '/projects/' | relative_url }}">Projects</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="https://github.com/emillan-gov/emillan-gov" target="_blank" class="external-link">GitHub Repo</a>
    </div>
</nav>

